@import url('../../index.css');

.announcement-container {
    margin-top: 10%;
    margin-bottom: 15%;
}

.announcement-content {
    background-color: var(--clr-grey-8);
    color: var(--clr-black);
    text-align: justify;
    padding: 2%;
}
